<div class="bg-light">
  <div class="container py">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-12">
        <h1 class="display-6">About us</h1>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container py-1">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-dark">We Believe:</h2>
        <p class="font-italic text-muted mb-4">To learn and work successfully in an increasingly information-rich society, one must be able to use technology effectively and creatively. This applies to all strata of society...students, teachers, professionals, homemakers and senior citizens.</p>
      </div>
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-dark">Our Mission:</h2>
        <p class="font-italic text-muted mb-4">To develop capable users of Information Technology who will effectively and creatively use the most amazing machine – a PC!
        </p>
      </div>
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <p class="font-weight-light">What we Offer:</p>
      </div>
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-dark">Customized Workshops to empower the user:</h2>
        <p class="font-italic text-muted mb-4">These workshops are designed keeping in mind the individual needs of students, teachers, professionals, homemakers and Senior Citizens.
        </p>
      </div>
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-dark">Maharashtra State Certificate in Information Technology (MS-CIT)</h2>
        <p class="font-italic text-muted mb-4">As an Authorized Learning Centre of Maharashtra Knowledge Corporation (MKCL) we offer MS-CIT which aims at making the participants smart users of computers by learning Word, Excel, PowerPoint and Internet though practical case studies.
        </p>
      </div>
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-dark">Post Graduate Diploma in Advanced Computing (PG DAC)</h2>
        <p class="font-italic text-muted mb-4">As an Authorized training centre of CDAC’s Advanced Computing Training School we offer DAC. (C-DAC is the Centre for Development in Advanced Computing, an initiative of the Ministry of IT, Government of India)
          B.E and B.Tech graduates from across the country are selected for this PG Diploma through C-DAC’s All India Common Admission Test.
          
        </p>
      </div>
    </div>
  </div>
</div>
